

<ion-view title="Safe@Scneider" ng-init="Initialize()" cache-view="false">
 <ion-nav-bar class="bar-stable">  </ion-nav-bar>
<!-- //https://github.com/dangrossman/bootstrap-daterangepicker/blob/master/website/index.html -->


<ion-nav-buttons side="left">
 <button class="button button-clear" ng-click="myGoBack()"><i class="icon ion-arrow-left-c" style = "color: green"></i> </button>
</ion-nav-buttons>

<ion-nav-buttons side="right">
 <button class="button button-clear icon ion-home" ng-click="myHome()"></button>
</ion-nav-buttons>

<ion-content padding="true">
<div class="max-width ">
  <div class="list no-margin-top">

      <center><img src = "http://www.defenddemocracy.org/content/uploads/general/Schneider_Electric_Logo.gif"></center>
      
      <div class="bar bar-balanced">
  <h1 class="title">Report</h1>
</div><br><br><br>

<form name = "record">
<div class = "col">
    <label class="item item-input">

      <span class="input-label" style = "color: #29a329; font-size : 14px">Incident Date</span>
      <!-- This was making report.date null for some reason. TODO: fix -->
      <!-- TODO: ADD validation here - not max & min -->
      <input type="datetime-local" ng-model="data.date" value="{{date | date:'mediumTime'}}" required>
      <!-- <input type="datetime-local" ng-model="report.date" max="{{maxDateTimeString}}" min="{{minDateTimeString}}" value="{{date | date:'mediumTime'}}"> -->

    </label>
</div>

    <div class = "col">
      <label class="item item-input item-select">
        <div class="input-label" style = "color: #29a329; font-size : 14px">
          Location
        </div>
      <select ng-options="department for department in departments" ng-model="data.optionSelected"  required	>
        <option   value="{{department}}">{{department}}</option> 
        <select>
        </label>
      </div>

    <div class = "col" style = "margin-right: -10px">
    <label class="item item-input item-select" >
      <div class="input-label" style = "color: #29a329; font-size : 14px">
        Hazards
      </div>
         <select ng-options="behavior for behavior in behaviors" ng-model="data.option"  required	>
        <option   value="{{behavior}}">{{behavior}}</option> 
      </select>
    </label>
  </div></div>

<div class = "row" ng-show = "data.option" >
  <div class = "col" style = "margin-left : 10px" style = "color: #29a329; font-size : 14px">
  <input type="radio" ng-model="data.safety" name="type" value="Safely" style = "color: #29a329; font-size : 14px" checked> Done Safely
</div>
  <div class = "col" style = "margin-left : 90px" style = "color: #29a329; font-size : 14px">

  <input type="radio" ng-model="data.safety" name="type" style = "color: #29a329;" value="Unsafely"> Done Unsafely
</div>
  <div class = "col" style = "margin-left : 90px" style = "color: #29a329; font-size : 14px">
  <input type="radio" ng-model="data.safety" name="type" style = "color: #29a329;" value="Unobserved"> Unobserved
</div>
</div>
<div class ="row" style = "margin-left: -5px">
  <div class ="col">
    <label class="item item-input" style = "color: #29a329; font-size : 14px" required>
      <input type = "text" placeholder="Observations" style = "color: #29a329; font-size : 14px" ng-model="data.observations" >
    </label>
</div>

</div>
<div class ="row" style = "margin-left: -5px">
  <div class ="col">
    <label class="item item-input" style = "color: #29a329; font-size : 14px" required>
      <input type = "text" placeholder="Comments" style = "color: #29a329; font-size : 14px" ng-model="data.comments" >
    </label>
</div>

</div>

  <button class="button button-block button-positive"  ng-disabled="record.$invalid" ng-click="submit()">Submit</button>
<!--   <button class="button button-block button-assertive button-outline button-clear" ng-click="clear()">Clear</button> -->
</form>
</div>
</div>
</ion-content>


